<div class="container">
  <div class="row">
    <h2 class="col-md-12 text-center">Promotions</h2>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <h3>60th Anniversary Promotion & Prizes</h3>
    </div>
    <div class="col-md-12">
      <h5>Grand Prize</h5>
    </div>
    <div class="col-md-12">
      Our grand prize winner will be rewarded with an incredible vacation for two aboard the Norwegian Jewel during our Alaskan Adventure Cruise in August, 2020. The winner and guest will also benefit from our Collins Tours Inclusive Airfare to and from Vancouver, British Columbia on Collins Tours! This prize is valued at $13,500!!!
    </div>

    <div class="col-md-12">
      <h5>Second Prize</h5>
    </div>
    <div class="col-md-12">
      Our second prize winner will receive a fantastic getaway for two to the 'City that Never Sleeps' during our annual Springtime in New York City Tour in May 2020. This prize is valued at $3,700!!
    </div>

    <div class="col-md-12">
      <h5>Grand Prize</h5>
    </div>
    <div class="col-md-12">
      Our third prize winner will receive a Collins Tours gift card valued at $500! The voucher applies to any tour purchased before December 31, 2020
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>HOW DO I QUALIFY FOR THE CONTEST?</h3>
    </div>

    <div class="col-md-12">
      <ul>
        <li>Each paying passenger for new bookings from July 26 - December 1, 2019 will receive a ballot & chance to win 1 of the 3 prizes.</li>
        <li>Ballots for new bookings only & require deposits on your reservation</li>
        <li>All guests who register for & visit our upcoming wine & cheese events will receive a ballot (SEE BELOW DATES & VENUES)</li>
        <li>Draw for prizes set for December 15. Prizes are guaranteed & are not redeemable for cash value. Name changes not permitted</li>
      </ul>
    </div>
  </div>
  <hr />
</div>
