<div class="">
  <div class="row">
    <h2 class="col-md-12">About Us</h2>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Our Commitment</h3>
    </div>
    <div class="col-md-12">
      <div>
        Collins Tours will provide high-end group travel products for the experienced traveler. Through providing unique escorted travel products, Collins Tours will ensure our clients receive a higher than average level of satisfaction and value for their money.
      </div>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">ABOUT THE COLLINS FAMILY</h4>
    </div>
    <div class="col-md-12">
      <div>
        Collins Tours was founded in 1960 by Carl and Judy Collins of Saint John, New Brunswick.  Fuelled by a passion for travel, sharing new experiences , Carl and Judy have hosted thousands of Maritimers, helping them to experience their travel dreams and adventures.  Each trip was carefully curated and planned by Carl and Judy.  They differentiated themselves by coordinating every last detail to ensure a worry-free experience for their customers and by providing premium group experiences.
      </div>
      <div>
        The company is now led by their son, Greg Collins, who spent most of his life travelling and learning from his Mom and Dad's experiences.  Greg holds a Business Degree and a Diploma in Hospitality and Tourism. He has grown the company to include over 30 annual tours, including some of the most exclusive premium offerings available from the Maritimes.  While the company remains based in the Collins' hometown of Saint John, tour pick up points are coordinated across the Maritimes.
      </div>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">HOW WE MEASURE PERFORMANCE</h4>
    </div>
    <div class="col-md-12">
      <div>
        Our success will be measured by the level of satisfaction from each and every customer we serve. We want to ensure our services provide an overall positive experience when acquiring travel reservations. Measuring performance will include:
        <ul>
          <li>Employee satisfaction, orientation, and training</li>
          <li>Customer focus and commitment</li>
          <li>Satisfaction from our customers, number of returning clients, and increased sales</li>
        </ul>
      </div>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">WHERE WE'RE GOING</h4>
    </div>
    <div class="col-md-12">
      <div>
        Through dedication, we will continue to meet our customer’s needs, wants, and expectations. Focusing on the psychographics of why people are traveling and the destinations they choose we will expand our market and increase our knowledge and expertise of travel to other areas.
      </div>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">HOW WE'LL GET THERE</h4>
    </div>
    <div class="col-md-12">
      <div>
        Collins Tours is committed to providing superior service to each client we serve.
        <br />
        We strive to offer genuine value and quality in our travel products.
      </div>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">OUR VISION</h4>
    </div>
    <div class="col-md-12">
      <div>
        Collins Tours & Consulting Ltd. is a locally owned and operated, licensed, Maritime Canadian Travel Agency/Tour Operator. In recent years we have expanded from being primarily a full-service travel agency to a highly efficient and ever-growing Atlantic Canada and Ontario Tour Operator. Our goal is to continue to increase our market share in the higher end experienced traveler, through targeting segments of the baby boomer and senior markets. We have over 55 years of hands-on experience in the travel industry with travel professionals who have traveled globally. With our outstanding supplier relationships, exceptional buying power and company commitment to product excellence, we will grow and expand our first class escorted group travel products. Through this commitment, our company is destined to excel and continue to provide our clients inspired experiences and new friendships abroad.
      </div>
    </div>
  </div>
</div>

<br />
<hr />
<br />
