<div class="">
  <div class="row">
    <h2 class="col-md-12">Our Staff</h2>
  </div>

  <hr />

  <div class="row staff">
    <h4 class="col-md-12 text-center">Coming Soon...</h4>
    <!--<div class="col-sm-12 col-md-2 col-lg-4">
      <div class="row">
        <h4 class="text-center">Greg Collins</h4>
      </div>
      <div class="row text-center">
        <p>
          Greg, our amazing CEO and president is making sure each and every customer of Collins Tours is satisfied
        </p>
      </div>
      <div class="row">
        <img class="img-circle img-responsive" src="https://media.licdn.com/dms/image/C560BAQFixcLskPz5qg/company-logo_400_400/0?e=1576713600&v=beta&t=sfs_Mw4mTmxV1CU7FTbHdTTc0U9-ZKUtZPurVzmzrVI" />
      </div>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-4">
      <div class="row">
        <h4 class="text-center">Greg Collins</h4>
      </div>
      <div class="row text-center">
        <p>
          Greg, our amazing CEO and president is making sure each and every customer of Collins Tours is satisfied
        </p>
      </div>
      <div class="row">
        <img class="img-circle img-responsive" src="https://media.licdn.com/dms/image/C560BAQFixcLskPz5qg/company-logo_400_400/0?e=1576713600&v=beta&t=sfs_Mw4mTmxV1CU7FTbHdTTc0U9-ZKUtZPurVzmzrVI" />
      </div>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-4">
      <div class="row">
        <h4 class="text-center">Greg Collins</h4>
      </div>
      <div class="row text-center">
        <p>
          Greg, our amazing CEO and president is making sure each and every customer of Collins Tours is satisfied
        </p>
      </div>
      <div class="row">
        <img class="img-circle img-responsive" src="https://media.licdn.com/dms/image/C560BAQFixcLskPz5qg/company-logo_400_400/0?e=1576713600&v=beta&t=sfs_Mw4mTmxV1CU7FTbHdTTc0U9-ZKUtZPurVzmzrVI" />
      </div>
    </div>


  </div>-->
</div>

<br />
<hr />
<br />
